html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}

.MainContent {
    background: url(./space.jpg); 
    height: 100%;
    padding: 8%;
    text-align: center;
    color: white;
}

h1 {
    font-size: 4em;
}
h3 {
    font-size: 2em;
}

.MainButton {
    text-decoration: underline;
    font-size: 5em;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50em;
}

.ButtonRoleContainer {
    max-width: 90%;
}

a {
    color: white;
}

.ButtonLink {
    height: 10em;
    width: 20em;
    border: white solid 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.404);
    display: flex;
    justify-content: center;
    margin: 1em;
}

.ButtonLink > a {
    color: white;
    font-size: 3em;
}

.ButtonRoleLink {
    width: 30em;
}

.ButtonRoleLink > a {
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.BackButton {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 5em;
    width: 10em;
    font-size: 0.5em;
}

.BackButton > a {
    text-decoration: none;
}


.FormContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 60%;
    margin-top: 4em;
}

.FormRow {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
}

.FormRow > input {
    background-color: rgba(255, 255, 255, 0);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 2em;
}

.FormRow > span {
    font-size: 2em;
    margin-right: 2em;
}

.SubmitButton {
    margin-top: 3em;
    font-size: 2em;
    border: white solid 1px;
    border-radius: 10px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-self: flex-end;
    margin-right: 20%;
}

.ResultTable {
    width: 100%;
}

.ResultTable > table  {
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.459);
}

.ResultTable > table > thead  {
    background-color: rgba(177, 177, 177, 0.459);
}

.ResultTable > table > thead > tr > td  {
    padding: 1em;
}
.ResultTable > table > tbody > tr > td  {
    padding: 1em;
}